Flask==1.0
Jinja2==2.11.3
Markdown==2.6.2
MarkupSafe==0.23
Metafone==0.5
PyYAML==5.4
Pygments==2.7.4
Werkzeug==0.15.3
cffi==1.1.0
cryptography==3.3.2
docopt==0.6.2
enum34==1.0.4
flask-swagger==0.2.6
future==0.14.3
gunicorn==19.5.0
idna==2.0
ipaddress==1.0.7
itsdangerous==0.24
ndg-httpsclient==0.4.0
nltk==3.4.5
nose==1.3.6
numpy==1.9.2
nyc-geoclient==0.0.2
path-and-address==1.0.0
pyOpenSSL==17.5.0
pyasn1==0.1.7
pycparser==2.13
pytest==2.7.2
python-crfsuite==0.8.3
requests==2.20.0
six==1.9.0
uWSGI==2.0.10
urllib3==1.26.5
usaddress==0.4.6
wsgiref==0.1.2
